<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
</head>
<body>
    <main class="container">
        <div class="grid">
            <div><h1><a href="{% url 'home' %}">🏥</a></h1></div>
            <div><h2>Clínica ADS 2024</h2></div>
        </div>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>